<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments.html :: head"></head>
<body th:object="${user}">
<header th:replace="fragments/fragments.html :: header"></header>

<p>New topics request from:</p>
<p th:text="|Id: *{id}"></p>
<p th:text="|First name: *{firstName}"></p>
<p th:text="|Last name: *{lastName}"></p>
<p th:text="|Profile name: *{profileName}"></p>
<p th:text="|Email: *{email}"></p>
<br>
<div th:each="topic : ${topicsRequest}" th:object="${topic}">
    <h4>New Topic</h4>
    <p th:text="*{name}"></p>
</div>
<p>To accept request, go to Admin Dashboard and edit this user accordingly.</p>

<footer th:replace="fragments/fragments.html :: footer"></footer>
</body>
</html>
