<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body th:object="${session}">
<p th:text="|Hello *{coachee.profileName},|"></p>
<p>One of your booked sessions has been accepted.</p>
<p>Below, you can find your session details.</p>
<table>
    <tr>
        <th>Coach</th>
        <th>Subject</th>
        <th>When</th>
        <th>Where</th>
        <th>Your remarks for the coach</th>
    </tr>
    <tr>
        <td th:text="|*{coach.firstName} *{coach.lastName}|"></td>
        <td th:text="*{subject}"></td>
        <td th:text="|*{date} *{startTime}|"></td>
        <td th:text="*{location}"></td>
        <td th:text="*{remarks}"></td>
    </tr>
</table>
<p>Make sure to be on time!</p>
<br>
<p th:text="${regards}"></p>
<p>
    <em th:text="${senderName}"></em> <br>
</p>
</body>
</html>
