<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments.html :: head"></head>
<body th:object="${session}">
<header th:replace="fragments/fragments.html :: header"></header>

<p th:text="|Hello *{coach.profileName},|"></p>
<p>You have received a new session request.</p>
<p>Below, you can find the details of the request.</p>
<table>
    <tr>
        <th>Coach</th>
        <th>Subject</th>
        <th>When</th>
        <th>Where</th>
        <th>Your remarks for the coach</th>
    </tr>
    <tr>
        <td th:text="|*{coachee.firstName} *{coachee.lastName}|"></td>
        <td th:text="*{subject}"></td>
        <td th:text="|*{date} *{startTime}|"></td>
        <td th:text="*{location}"></td>
        <td th:text="*{remarks}"></td>
    </tr>
</table>
<p>Make sure to accept/decline this session request in your Coach Dashboard.</p>
<br>
<p th:text="${regards}"></p>
<p>
    <em th:text="${senderName}"></em> <br>
</p>

<footer th:replace="fragments/fragments.html :: footer"></footer>
</body>
</html>
