<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments.html :: head"></head>
<body th:object="${session}">
<header th:replace="fragments/fragments.html :: header"></header>

<p th:text="|Hello *{coachee.profileName},|"></p>
<p th:text="|Coach *{coach.firstName} *{coach.lastName} has provided feedback for your session on *{date} about *{subject}.|"></p>
<p>If you haven't already, you can also provide your feedback to your coach through the 'Coaching Sessions' section in your Dashboard!</p>
<br>
<p th:text="${regards}"></p>
<p>
    <em th:text="${senderName}"></em> <br>
</p>

<footer th:replace="fragments/fragments.html :: footer"></footer>
</body>
</html>
