<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments.html :: head"></head>
<body th:object="${session}">
<header th:replace="fragments/fragments.html :: header"></header>

<p th:text="|Hello *{coachee.profileName},|"></p>
<p th:text="|Your planned session with *{coach.firstName} *{coach.lastName} on *{date} has been cancelled.|"></p>
<p>Try to reschedule another session with this coach or one of our other coaches who teaches the same subject!</p>
<br>
<p th:text="${regards}"></p>
<p>
    <em th:text="${senderName}"></em> <br>
</p>

<footer th:replace="fragments/fragments.html :: footer"></footer>
</body>
</html>
